.cache
.coverage
.DS_Store
.envrc
.idea
.pytest_cache/
.python-version
.tox
.vagrant
.venv*
.vscode
*.csv
*.egg-info
*.log
*.pex
*.pyc
*gz
build
dist
htmlcov
itemlist.txt
pex/
stairs
TAGS
trash/
v3.10/
v3.7/
v3.8/
v3.9/
wheelhouse
ia.dist/
ia.bin
scripts/
